* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: dimgray;
  font-family: sans-serif;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.title {
  background: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.main-content {
  background: whitesmoke;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 3fr 1fr;

}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(250px, 1fr));
  align-content: flex-start;
}

.card {
  border: 2px solid salmon;
  height: 200px;
}

.input-container {
  grid-row: 2 / 3;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


