* {
  margin: 0;
  padding: 0;
}

body {
  background: dimgray;
  font-family: sans-serif;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.title {
  background: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.main-content {
  background: whitesmoke;
  grid-row: 2 / 4;
  display: grid;
  grid-template-rows: 6fr 1fr;
  grid-template-columns: repeat(auto-fit,  minmax(250px, 1fr));
}

.card {
  border: 2px solid salmon;
  height: 200px;
}

.button-container {
  grid-row: 2 / 3;
}


